<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lifecycleapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LifeCycleApp">
        <activity
            android:name=".activity.MVPActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Dagger2Activity"
            android:exported="false" />
        <activity
            android:name=".activity.SqliteDBActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SharedPreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LaunchModeListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ServiceProgressBarActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FragmentLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FragmentLifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ConstraintLayoutWithRecyclerViewDataBindingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ConstraintLayoutWithGridActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RelativeLayoutWithListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LinearLayoutWithRecyclerActivity"
            android:exported="false" />

        <receiver
            android:name=".broadcastReceiver.MyCustomBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.example.lifecycleapp.CUSTOM_INTENT" />
            </intent-filter>
        </receiver>

        <service android:name=".services.MediaPlayerService" />
        <service
            android:name=".services.BoundService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />
    </application>

</manifest>